div#contenedor{
	background-color:  grey;
	width: 930px;
	height: 800px;
	margin: auto ; <!---->
}
div#navegar{
	background-color:  steelblue;
	width: 920px;
	height: 100px;
	margin: 0px 5px ; <!---->
}
div#noticias{
	background-color: lightyellow;
	width: 300px;
	height: 685px;
	margin: 10px 5px ; <!---->
}
div#contenido{
	background-color: gainsboro;
	width: 615px;
	height: 685px;
	margin: -695px 0px 0px 310px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
div#contenedortitulo{
	background-color: royalblue;
	width: 600px;
	height: 100px;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
h2{
	margin: 0px;	
	font-size: 70px;
	color: black;
}

div#fotos{
	background-color: seagreen;
	width: 600px;
	height: 400px;
	margin-top: 0px;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
}
img{
	margin: 5px;
	width: 150px;
	height: 150px;

}
img:hover{
	margin: 10px;
	width: 170px;
	height: 170px;

}